{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mt-3">
                <legend class="border-bottom mb-4">Привязать аккаунт AmoCRM</legend>
                {{ form|crispy }}
            </fieldset>

            <fieldset class="form-group mt-3">
                <div class="description-block">
                    <legend class="border-bottom mb-4">Простая настройка подключения в 3 шага:</legend>

                    <h6>1) Перейдите в Amo Market</h6>
                    <h6>2) В правом верхнем углу нажмите на кнопку `+ WEB HOOKS` и в поле адрес укажите
                        http://95.140.146.86:8000/api/v1/amocrm/{{ request.user.id }}</h6>
                    <h6>3) В том же меню выберите события для обработки:</h6>
                    <ul>
                        <li>Сделка добавлена</li>
                        <li>Неразобранное добавлено</li>
                        <li>Входящее сообщение добавлено</li>
                        <li>Сделка изменена</li>
                        <li>Сделка удалена</li>
                        <li>Неразобранное удалено</li>
                    </ul>
            </fieldset>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Привязать</button>
    </div>
    </form>
    </div>
{% endblock content %}