{% extends "core/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <a href="{% url 'home' %}" class="m-3">Вернуться на главную без сохранения</a>

    <h4 class="m-3">Ваши настройки режима работы с базой данных:</h4>

    <legend class="border-bottom mb-4"></legend>

    {% csrf_token %}
    <div class="container">
        <form method="post" action="/api/v1/home/update-db-file?pipeline={{ pipeline }}">
            {% csrf_token %}
            <div class="input-group-prepend">
                <span class="input-group-text">Файл XLSX с базой данных:</span>
                <input name="filename" value="{{ file_link }}">
                <button type="submit" class="input-group-text">Обновить</button>
            </div>
        </form>

        {% if filename is not None and has_file %}

            <h4 class="mt-4">Выбрана база: {{ filename }}</h4>

            <h4 class="mt-4">Полученные параметры из таблицы:</h4>
            <div class="col-12">
                <table>
                    <thead>
                    <tr class="row">
                        {% for name in names %}
                            <th class="col-6">{{ name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
            </div>

            <h4 class="mt-4">Условия подбора ответа:</h4>
            {% for rule in rules %}
                <div class="mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Введенный параметр {{ rule.t }} должен быть</span>
                        <input name="{{ rule.t }}" class="rule input-group-text" value="{{ rule.v }}">
                        <span class="input-group-text">Database Param</span>
                    </div>
                </div>
            {% endfor %}

            <h4 class="mt-4 mb-4">Условия отображения ответа:</h4>
            <h5>Приветственное сообщение:</h5>
            <legend class="border-bottom mb-4"></legend>
            <textarea style="min-height: 100px" name="hi_message" id="hi-message">{{ hi_message }}</textarea>

            <h5>Сообщение при ошибке распознавания текста:</h5>
            <legend class="border-bottom mb-4"></legend>
            <textarea style="min-height: 100px" name="openai_error_message" id="openai-error-message">{{ openai_error_message }}</textarea>

            <h5>Сообщение при отстутствии информации по запросу в базе данных:</h5>
            <legend class="border-bottom mb-4"></legend>
            <textarea style="min-height: 100px" name="db_error_message" id="db-error-message">{{ db_error_message }}</textarea>

            <h5>Сообщение при успешном исходе перед информацией из базы данных:</h5>
            <legend class="border-bottom mb-4"></legend>
            <textarea style="min-height: 100px" name="success_message" id="success-message">{{ success_message }}</textarea>

            </div>
        {% endif %}
    <div class="widget-container text-white rounded p-2">
        <p class="d-inline-block m-0">После внесения изменений нажмите на кнопку.</p>
        <button id="save-button" class="btn btn-light ml-2" onclick="saveData();">Сохранить</button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <script>
        function saveData() {
            elements = document.querySelectorAll(".rule");
            var dataObject = {};
            dataObject["currentUrl"] = window.location.href;
            dataObject["hi_message"] = document.getElementById("hi-message").value;
            dataObject["db_error_message"] = document.getElementById("db-error-message").value;
            dataObject["openai_error_message"] = document.getElementById("openai-error-message").value;
            dataObject["success_message"] = document.getElementById("success-message").value;
            elements.forEach(function (element) {
                var name = element.getAttribute("name");
                var value = element.value;
                dataObject[name] = value;
            });
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataObject),
            };
            fetch(`/api/v1/home/update-db-rules/`, requestOptions).then(response => {
                    window.location.href = '/home/';
                }
            )
        }
    </script>

{% endblock content %}
