{% extends "core/base.html" %}
{% block title %}FAQ{% endblock %}
{% block head %}
    {{ block.super }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans" rel="stylesheet">


{% endblock %}

{% block content %}
    <style>
        .text-label2 {
            font-size: 22px;
            font-weight: 350;
        }

        .text-label3 {
            font-size: 22px;
            font-weight: 200;
            background-color: white;
            color: #202020;
            margin-top: 0px;
        }

        li {
            list-style-type: none; /* Убираем маркеры */

        }

        .inner_text {
            display: none;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-right: 15px;
            padding-left: 15px;
            width: 95%;
            margin-top: auto;
            margin-bottom: 25px;
            box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);
            border-radius: 10px;

        }

        .label-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(114, 119, 240, 0);

            font-size: 28px;
            color: white;
            margin-bottom: 0px;
        }

        .label-content > div {
            flex-grow: 1;
        }

        .spisok {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        *,
        *::after,
        *::before {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            min-height: 100vh;
        }


        ul {
            list-style: none;
        }

        .main {
            max-width: 75rem;
            padding: 0 1.5em;
        }


        .cards {
            position: relative;
        }

        .cards__inner {
        }

        .card {
            --flow-space: 0.5em;
            --hsl: var(--hue), var(--saturation), var(--lightness);
            color: #eceff1;
            background-color: #2b2b2b;
            border: 1px solid #eceff133;
            border-radius: 15px;
        }

        .card:nth-child(1) {
            --hue: 165;
            --saturation: 82.26%;
            --lightness: 51.37%;
        }

        .card:nth-child(2) {
            --hue: 291.34;
            --saturation: 95.9%;
            --lightness: 61.76%;
        }

        .card:nth-child(3) {
            --hue: 338.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }

        .card__bullets {
            line-height: 1.4;
        }

        .card__bullets li::before {
            display: inline-block;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
            transform: translatey(0.25ch);
            margin-right: 1ch;
        }

        .card__heading {
            font-size: 22px;
            font-weight:  bold;
        }

        .card__price {
            font-size: 1.75em;
            font-weight: 700;
        }

        .flow > * + * {
            margin-top: var(--flow-space, 1.25em);
        }

        .cta {
            display: block;
            align-self: end;
            margin: 1em 0 0.5em 0;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #0d0d0d;
            padding: 0.7em;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: 600;
        }

        .overlay {
            position: absolute;
            inset: 0;
            pointer-events: none;
            user-select: none;
            opacity: var(--opacity, 0);
            -webkit-mask: radial-gradient(
                    25rem 25rem at var(--x) var(--y),
                    #000 1%,
                    transparent 50%
            );
            mask: radial-gradient(
                    25rem 25rem at var(--x) var(--y),
                    #000 1%,
                    transparent 50%
            );
            transition: 400ms mask ease;
            will-change: mask;
        }

        .overlay .card {
            background-color: hsla(var(--hsl), 0.15);
            border-color: hsla(var(--hsl), 1);
            box-shadow: 0 0 0 1px inset hsl(var(--hsl));
        }

        .overlay .cta {
            display: block;
            grid-row: -1;
            width: 100%;
            background-color: hsl(var(--hsl));
            box-shadow: 0 0 0 1px hsl(var(--hsl));
        }

        :not(.overlay) > .card {
            transition: 400ms background ease;
            will-change: background;
        }

        :not(.overlay) > .card:hover {
            --lightness: 95%;
            background: hsla(var(--hsl), 0.1);
        }

        .card:nth-child(1) {
            --hue: 165;
            --saturation: 82.26%;
            --lightness: 51.37%;
        }

        .card:nth-child(2) {
            --hue: 600.34;
            --saturation: 95.9%;
            --lightness: 50.76%;
        }

        .card:nth-child(3) {
            --hue: 338.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }

        .card:nth-child(4) {
            --hue: 538.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }

        .card:nth-child(5) {
            --hue: 638.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }
        .card:nth-child(6) {
            --hue: 238.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }
        .card:nth-child(7) {
            --hue: 508.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }
        .card:nth-child(8) {
            --hue: 738.69;
            --saturation: 100%;
            --lightness: 48.04%;
        }
    </style>
    <div class="container mt-5">
        <h1>Ответы на вопросы</h1>


        <!-- Добавьте другие вопросы и ответы аналогичным образом -->

    </div>
    <div class="container">
        <div class="row w-100 main__cards cards">
            <ul class="text-label2 ml-0 w-100 cards ">
                <li id="Introduction" class="cards__inner card spisok mb-3"
                    style="">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Как узнать о приложении Avatarex для amoCRM подробнее?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span class="ml-0 text-label3 pl-4 inner_text">Свяжитесь с разработчиками по желтой кнопке в разделе “Что же такое нейро-ассистенты и как Avatarex для amoCRM с ними работает?” или по этой ссылке <a
                            href="https://t.me/vladimir_avatarex"
                            style="border-bottom: 1px solid rgb(255, 255, 255); box-shadow: none; text-decoration: none;">https://t.me/vladimir_avatarex</a> </span>

                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Есть ли демо-период?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Да, мы даем возможность
                        протестировать приложение в течение 3 дней бесплатно. Помогаем подключить и настроить приложение
                        в аккаунте amoCRM. Если у dfc нет аккаунта в amoCRM, поможем подключить и настроить новый
                        аккаунт.</span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2 " style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Как осуществляется техподдержка?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Техподдержка осуществляется через
                        персональный чат в Телеграм, в котором наши специалисты отвечают на вопросы и помогают решать
                        технические задачи в режиме с 9 утра до 9 вечера по МСК без выходных.</span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Как происходит выплата партнерской комиссии?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Партнер может самостоятельно принять оплату от конечного пользователя и перевести нам стоимость лицензии. Если платеж от конечного пользователя принимаем мы, комиссия выплачивается партнеру в течение 3 рабочих дней в любой удобной форме и валюте, включая криптовалюты.</span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Могу ли я выступить в качестве партнера для продвижения приложения?
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Да, это возможно. Мы выплачиваем комиссионное вознаграждение нашим партнерам за продвижение приложения. Чтобы узнать условия партнерской программы - свяжитесь с разработчиками по желтой кнопке в разделе “Что же такое нейро-ассистенты и как Avatarex для amoCRM с ними работает?” или по этой ссылке <a
                            href="https://t.me/vladimir_avatarex"
                            style="border-bottom: 1px solid rgb(255, 255, 255); box-shadow: none; text-decoration: none;">https://t.me/vladimir_avatarex</a></span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">За что еще нужно платить, кроме лицензии на приложение?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Кроме оплаты за лицензию Avatarex для amoCRM, необходимо оплачивать самостоятельно подписку на amoCRM и подписку на chatGPT/openai.com (оплачивать расход токенов).</span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Как партнер должен передавать клиентов (конечных пользователей)?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Партнеры передают контактные данные конечных пользователей своим кураторам из числа сотрудников нашей компании, которые назначаются после собеседования с партнером.</span>
                </li>
                <li id="Introduction" class="cards__inner card mb-3"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                    <label onclick="toggleVisibility(this.nextElementSibling)"
                           type="section" role="menuitem"
                           class="fjUIJu2 label-hoover w-100 pb-2 pt-3">
                        <div class="label-content pl-2" style="border-radius: 10px">
                            <div title="Введение" class="card__heading">Как юридически оформляются отношения с пользователями?</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-chevron-right galochka"
                                 viewBox="0 0 16 16">
                                <path d="M6.293 4.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L9.586 8 6.293 4.707a1 1 0 010-1.414z"/>
                            </svg>
                        </div>
                    </label>
                    <span style="display: none; padding-top: 25px; padding-bottom: 25px; padding-right: 15px; padding-left: 15px; width: 95%;margin-top: auto; margin-bottom: 25px;box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.55);"
                          class="ml-0 text-label3 pl-4 inner_text">Отношения между пользователями приложения и нашей компанией строятся на основе публичной оферты, опубликованной на этом сайте.</span>
                </li>
            </ul>
            <ul class="overlay cards__inner ">
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
                <li class="cards__inner card mb-3"><p style="display: none"></p></li>
            </ul>
        </div>
    </div>

    <h2 class="mt-5">Задать вопрос</h2>
    <form action="submit_question.php" method="POST">
        <div class="form-group">
            <label for="email">Ваш email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="question">Ваш вопрос:</label>
            <textarea name="question" id="question" class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить вопрос</button>
    </form>

    <p class="mt-4">Если у вас возникли дополнительные вопросы, вы также можете написать нам в <a
            href="https://t.me/your_telegram_channel">Telegram</a>.</p>
    </div>

    <!-- Подключение Bootstrap JS и jQuery (необходим для некоторых компонентов Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleVisibility(element) {
            var label = element.previousElementSibling;

            if (element.style.display === 'none' || element.style.display === '') {
                element.style.display = 'block';
                toggleGalochka(element.previousElementSibling, true);
                label.style.marginBottom = '0'; // Убираем margin-bottom
            } else {
                element.style.display = 'none';
                toggleGalochka(element.previousElementSibling, false);
                label.style.marginBottom = '8px'; // Добавляем margin-bottom
            }
        }

        function toggleGalochka(label, rotate) {

            if (rotate) {
                const galochka = label.querySelector('.galochka');
                galochka.style.transform = 'rotate(90deg)';
            } else {
                const galochka = label.querySelector('.galochka');
                galochka.style.transform = 'rotate(0deg)';
            }
        }
    </script>


    <script>console.clear();

    const cardsContainer = document.querySelector(".cards");
    const cardsContainerInner = document.querySelector(".cards__inner");
    const cards = Array.from(document.querySelectorAll(".card"));
    const overlay = document.querySelector(".overlay");

    const applyOverlayMask = (e) => {
        const overlayEl = e.currentTarget;
        const x = e.pageX - cardsContainer.offsetLeft;
        const y = e.pageY - cardsContainer.offsetTop;

        overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
    };

    const createOverlayCta = (overlayCard, ctaEl) => {
        const overlayCta = document.createElement("div");
        overlayCta.classList.add("cta");
        overlayCta.textContent = ctaEl.textContent;
        overlayCta.setAttribute("aria-hidden", true);
        overlayCard.append(overlayCta);
    };

    const observer = new ResizeObserver((entries) => {
        entries.forEach((entry) => {
            const cardIndex = cards.indexOf(entry.target);
            let width = entry.borderBoxSize[0].inlineSize;
            let height = entry.borderBoxSize[0].blockSize;

            if (cardIndex >= 0) {
                overlay.children[cardIndex].style.width = `${width}px`;
                overlay.children[cardIndex].style.height = `${height}px`;
            }
        });
    });

    const initOverlayCard = (cardEl) => {
        const overlayCard = document.createElement("div");
        overlayCard.classList.add("card");
        createOverlayCta(overlayCard, cardEl.lastElementChild);
        overlay.append(overlayCard);
        observer.observe(cardEl);
    };

    cards.forEach(initOverlayCard);
    document.body.addEventListener("pointermove", applyOverlayMask);
    </script>
{% endblock %}