{% extends "core/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <h3>Настройки приложения:</h3>
    {% include "home/components/youtube-video.html" %}
    <legend class="border-bottom mb-4"></legend>


    <!-- <div class="mt-3">
            <div class="input-group-prepend">
                <span class="input-group-text">OpenAI API KEY:</span>
                <input type="text" id="gpt-token" value="{{ gpt_token }}">
                <button class="input-group-text input-group-button btn btn-light ml-1 " onclick="updateToken();">
                    Обновить
                </button>
            </div>
        </div>
        <div class="mt-3">
            <div class="input-group-prepend">
                <button class="input-group-text btn btn-light " href="/api/v1/home/syncronize-amo">Синхронизировать
                    воронки
                    с AmoCRM
                </button>
                <select id="mySelect" class="input-group-select">
                    <option name="{{ selected_mode }}">{{ selected_mode }}</option>
                    <option name="{{ disabled_mode }}">{{ disabled_mode }}</option>
                    <option name="{{ disabled_mode2 }}">{{ disabled_mode2 }}</option>
                </select>
                <button class="input-group-text input-group-button btn btn-light ml-1 " onclick="changeMode();">Обновить
                </button>
            </div>
        </div>

        <div class="mt-3">
            <div class="input-group-prepend">
                <button style="height: 50%" class="input-group-text btn btn-light " href="/api/v1/home/syncronize-amo">
                    Распознавать голосовые сообщения
                </button>
                <div style="width: 100%; width: 100%;" class="form-group">
                    <select class="custom-select" required>
                        <option value="0">Да</option>
                        <option value="1">Нет</option>
                    </select>
                </div>

                <button style="height: 50%" class="input-group-text input-group-button btn btn-light ml-1 "
                        onclick="changeMode();">Обновить
                </button>
            </div>
        </div>

        <legend class="border-bottom mt-4"></legend>

        <h4 class="mt-5 mb-3">Выберите воронку:</h4>
        <div class="pl-3 pr-3">
            <div class="row p-2 rounded-value" style="background-color: rgb(26, 24, 22);">
                {% for pipeline in pipelines %}
                    <a class="pipeline-item" href="#"
                       data-pipeline="{{ pipeline.p_id }}"> {{ pipeline.name }}</a>

                {% endfor %}
            </div>
        </div>
        <h4 class="mt-5">На каких стадиях принимать сообщения:</h4>
        <div class="pl-3 pr-3">
            <div class="row rounded-value statuses-bar" style="background-color: rgb(26, 24, 22);">

            </div>
        </div>-->
    <div class="container">

        <style>
            @media (min-width: 768px) {
                .w-md-80 {
                    max-width: 76.9%;
                }

                .w-md2-80 {
                    max-width: 62.6%;
                }

                .w-md3-80 {
                    max-width: 60.6%;
                }
            }

            .change-work-mode {
                border: 2px solid rgb(114, 119, 240);
                border-radius: 5px;
                margin-right: 5px;
                padding: 15px;
                background-color: rgb(38, 47, 60);
                color: white;
                text-align: center;
                display: inline-block;
            }

            .change-work-mode:hover {
                text-decoration: none;
                color: white;
                cursor: default;
                border: 2px solid  rgb(114, 119, 240);;
                background-color: rgb(114, 119, 240);
            }

        </style>

        <!-- Первый блок -->
        <div class="input-group flex-md-row flex-column">
            <span class="mb-2 input-group-text">OpenAI API KEY:</span>
            <input type="text" class="ml-0 mb-2 w-100 w-md-80 form-control" id="gpt-token" value="{{ gpt_token }}">
            <div class="mb-2 input-group-append">
                <button class="input-group-text btn btn-light ml-0 " onclick="updateToken();">Обновить</button>
            </div>
        </div>

        <!-- Второй блок  -->
        <div class="mt-3 input-group">
            <span class="input-group-text btn btn-light mb-2 " href="/api/v1/home/syncronize-amo">Синхронизировать воронки с AmoCRM</span>
            <select id="mySelect" class="custom-select w-100 w-md3-80 ml-0 mb-2 ">
                <option name="{{ selected_mode }}">{{ selected_mode }}</option>
                <option name="{{ disabled_mode }}">{{ disabled_mode }}</option>
                <option name="{{ disabled_mode2 }}">{{ disabled_mode2 }}</option>
            </select>
            <div class="input-group-append mb-2 ">
                <button class="input-group-text btn btn-light ml-0 " onclick="changeMode();">Обновить</button>
            </div>
        </div>

        <!-- Третий блок  -->
        <div class="mt-3  input-group">
            <div class=" mb-2 input-group-text " href="/api/v1/home/syncronize-amo">Распознавать
                голосовые
                сообщения
            </div>
            <select class="mb-2 custom-select ml-0 w-100 w-md2-80 " required>
                <option value="0">Да</option>
                <option value="1">Нет</option>
            </select>
            <div class=" mb-2 input-group-append">
                <button class="input-group-text btn btn-light ml-0" onclick="changeMode();">Обновить</button>
            </div>
        </div>

        <legend class="border-bottom mt-4"></legend>

        <h4 class="mt-5 mb-3">Выберите воронку:</h4>
        <div class="pl-3 pr-3">
            <div class="row p-2 rounded-value" style="background-color: rgb(26, 24, 22);">
                {% for pipeline in pipelines %}
                    <a class="pipeline-item" href="#"
                       data-pipeline="{{ pipeline.p_id }}"> {{ pipeline.name }}</a>

                {% endfor %}
            </div>
        </div>
        <h4 class="mt-5">На каких стадиях принимать сообщения:</h4>
        <div class="pl-3 pr-3">
            <div class="row rounded-value statuses-bar" style="background-color: rgb(26, 24, 22);">
            </div>
        </div>


        <legend class="border-bottom mt-4"></legend>
        <div class="row mt-3">
            <div class="col">
                <a class="change-work-mode" id="default-mode-settings" href="{% url 'prompt_mode_v1' %}">Настроить
                    режим
                    работы по вашему контексту</a>
            </div>

            <div class="col">
                <a class="change-work-mode" id="database-mode-settings" href="{% url 'db_mode' %}">Настроить режим
                    работы с вашей базой
                    данных</a>
            </div>

            <div class="col">
                <a class="change-work-mode" id="knowledge-mode-settings" href="{% url 'new_db_mode' %}">Настроить
                    работы с вашей базой знаний</a>
            </div>
            <div class="col">
                <a class="change-work-mode" id="database-and-knowledge-mode-settings" href="{% url 'new_db_mode' %}">Настроить
                    режим работы с базой данных и знаний</a>
            </div>

        </div>
        <div class="row mt-4">

        </div>
    </div>
    <br/>
    <br/>
    <br/>



    <script>
        const pipelineLinks = document.querySelectorAll('.pipeline-item');


        function updateToken() {
            tokenEl = document.getElementById('gpt-token');
            fetch(`/api/v1/home/update-token?token=${tokenEl.value}`)
                .then(function (response) {
                    window.location.reload();
                })
        }

        function changeMode() {
            pipeline = document.querySelector('.selected-pipeline');
            mode = document.getElementById('mySelect').value;
            pipelineId = pipeline.getAttribute('data-pipeline');
            fetch(`/api/v1/home/update-mode?pipeline=${pipelineId}&mode=${mode}`);
        }

        function getStages(link) {
            const pipelineId = link.getAttribute('data-pipeline');
            const data = {pipeline: pipelineId};
            var link1 = document.getElementById('default-mode-settings');
            var link2 = document.getElementById('database-mode-settings');
            var link3 = document.getElementById('knowledge-mode-settings');
            var link4 = document.getElementById('database-and-knowledge-mode-settings');
            link1.setAttribute("href", `/prompt-mode?pipeline=${pipelineId}`);
            link2.setAttribute("href", `/database-mode?pipeline=${pipelineId}`);
            link3.setAttribute("href", `/knowledge-mode?pipeline=${pipelineId}`);
            link4.setAttribute("href", `/database-and-knowledge-mode?pipeline=${pipelineId}`);

            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            };
            fetch(`/api/v1/home/get_stages_by_pipeline/`, requestOptions)
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Ошибка в ответе сервера: ' + response.status);
                    }
                })
                .then(function (jsonResponse) {
                    pipelineLinks.forEach(pipelineLink => {
                        pipelineLink.classList.remove('selected-pipeline');
                    });
                    link.classList.add('selected-pipeline');
                    var statusesBar = document.querySelector(".statuses-bar");
                    statusesBar.innerHTML = "";
                    var statusesList = document.createElement("div");
                    statusesList.classList.add("list-inline", "row", 'pl-4', 'pr-4', 'pt-1', 'pb-3'); // Добавляем класс Bootstrap для горизонтального списка


                    var selectElement = document.getElementById('mySelect');

                    var newOption1 = new Option(jsonResponse.selected_mode, jsonResponse.selected_mode);
                    var newOption2 = new Option(jsonResponse.disabled_mode, jsonResponse.disabled_mode);
                    var newOption3 = new Option(jsonResponse.disabled_mode2, jsonResponse.disabled_mode2);

                    while (selectElement.options.length > 0) {
                        selectElement.options.remove(0);
                    }
                    selectElement.add(newOption1);
                    selectElement.add(newOption2);
                    selectElement.add(newOption3);


                    jsonResponse.stages.forEach(function (status) {

                        var link = document.createElement("a");


                        link.classList.add("a", "input-group-text");
                        link.classList.add("a", "stage");
                        if (status.is_active) {
                            link.classList.add("a", "selected-stage"); // Добавляем класс "btn-primary" для активных статусов
                            link.style.color = "white";
                            link.style.backgroundColor = "rgb(114, 119, 240)";
                        }


                        link.href = `/api/v1/home/set_stage_by_pipeline?status=${status.status_id}&pipeline=${pipelineId}`;
                        link.setAttribute("data-pipeline", status.id);
                        link.textContent = status.name;

                        statusesList.appendChild(link);
                    });
                    statusesBar.appendChild(statusesList);

                })
                .catch(function (error) {
                    console.error('Произошла ошибка:', error);
                });
        }
        {% if current_pipeline == "" %}
            getStages(pipelineLinks[0]);
        {% else %}
            let targetLink = null;

            pipelineLinks.forEach(link => {
                const dataPipeline = link.getAttribute('data-pipeline');
                if (dataPipeline === '{{ current_pipeline }}') {
                    targetLink = link;
                }
            });
            getStages(targetLink);
        {% endif %}
        pipelineLinks.forEach(link => {
            link.addEventListener('click', function () {
                getStages(link);
            });
        });
    </script>
{% endblock content %}

