{% extends "core/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
{% load static %}



{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
    <main class="main flow">
        <h1 style="display: flex; justify-content: center; ">Купить подписку</h1>
        <div class="main__cards cards">
            <div class="cards__inner">
                <div class="cards__card card">
                    <h1 class="card__heading">Старт</h1>
                    <p class="card__price">150.000 ₽</p>
                    <ul role="list" class="card__bullets flow">
                        <li>Разработка AI ассистента для первичного контакта с клиентами</li>
                        <li>Настройка главной воронки продаж в amoCRM</li>
                        <li>Интеграция источников трафика в amoCRM - соцсетей, сайтов, маркетплейсов</li>
                        <li>Разработка пошагового алгоритма для работы сотрудников</li>
                        <li>Обучение и поддержка 30 дней</li>
                    </ul>
                    <a href="#basic" class="card__cta cta">Начать</a>
                </div>

                <div class="cards__card card">
                    <h1 class="card__heading">Базовый</h1>
                    <p class="card__price">240.000 ₽</p>
                    <ul role="list" class="card__bullets flow">
                        <li> Все, что в СТАРТ.</li>
                        <li>Настройка воронки дожима в amoCRM</li>
                        <li>Разработка AI ассистента для воронки дожима</li>
                        <li>Автоматизация процессов продажи и дожима в amoCRM</li>
                        <li>Эксклюзивный доступ куда-нибудь</li>
                        <li>Создание ботов (salesbot) для автоматизации процессов продажи и дожима в amoCRM</li>
                        <li>Создание контента для ботов</li>
                        <li>Обучение и поддержка 45 дней</li>

                    </ul>
                    <a href="#pro" class="card__cta cta">Улучшить до Базовый</a>
                </div>

                <div class="cards__card card">
                    <h1 class="card__heading">Профи</h1>
                    <p class="card__price">430.000 ₽</p>
                    <ul role="list" class="card__bullets flow">
                        <li>Все, что в БАЗОВЫЙ</li>
                        <li>Настройка воронки прогрева в amoCRM</li>
                        <li>Ранний доступ ко всем нововведениям</li>
                        <li>Разработка AI ассистента для воронки прогрева</li>
                        <li>Настройка автоворонки для продающего онлайн мероприятия - мастер-класса, вебинара</li>
                        <li>Обучение одной AI модели на базе chatGPT</li>
                        <li>Подключение одной БД к боту на базе chatGPT</li>
                        <li>Обучение и поддержка 60 дней</li>
                    </ul>
                    <a href="#ultimate" class="card__cta cta">Стать Профи</a>
                </div>
                <div class="cards__card card">
                    <h1 class="card__heading">VIP</h1>
                    <p class="card__price">800.000 ₽</p>
                    <ul role="list" class="card__bullets flow">
                        <li> Все, что в ПРОФИ</li>
                        <li>Разработка AI ассистента для автоворонки</li>
                        <li>Настройка автоворонки для продажи продукта</li>
                        <li>Обучение второй AI модели на базе chatGPT</li>
                        <li>Подключение второй БД к боту на базе chatGPT</li>
                        <li>Разработка и настройка Трафик-Системы</li>
                        <li>Обучение и поддержка 90 дней</li>
                    </ul>
                    <a href="#ultimate" class="card__cta cta">Идти до конца</a>
                </div>
            </div>

            <div class="overlay cards__inner"></div>
        </div>
    </main>

    <legend class="border-bottom mb-1 mt-4 "></legend>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Ваша подписка</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <label class="h4 mb-0 pb-0" for="exampleFormControlSelect1">Действующая подписка:</label>
            </div>
            <div class="col-md-1">
                <p style="color: greenyellow;" class="h5 mb-1  mt-1 pb-0 ">Pro {{ subscription_type }}</p>
            </div>
            <div class="col-md-3">
                <p class="h4 mb-0 pb-0 ">Действует до:</p>
            </div>
            <div class="col-md-2">
                <p style="color: greenyellow" class="h5 mb-1 pb-0 mt-1">31.10.24 {{ subscription_type }}</p>
            </div>
        </div>
    </div>
    <legend class="border-bottom mb-2"></legend>
    <!--<div class="pl-3 pr-3 pb-2 pt-0 ">
        <form>
            <div class="form-group">
                <label class="h4" for="exampleFormControlSelect1">Выберите тип подписки</label>
                <select style="background-color: rgb(38, 47, 60);color: white; border: solid rgb(38, 47, 60);font-size: large"
                        class=" col-15 pr-1 form-control input-group-text " id="exampleFormControlSelect1">
                    <option style="text-align: left" class="input-group-text" value="stnd">Standart - 3499 руб./мес.
                    </option>
                    <option style="text-align: left" class="input-groups-text" value="pro">Professional - 7499
                        руб./мес.
                    </option>
                </select>
            </div>
        </form>
    </div>-->



    <div class="pl-3 pr-3 pb-0 pt-0 mt-1 mb-0 "><h1 style="display: flex; justify-content: center; ">Транзакции</h1>
    </div>
    <div class=" mt-2 " style="display: flex; justify-content: center;">
        <table style="background-color: #2b2b2b;" class="table table-dark table-hover">
            <thead class="bg-primary ">
            <tr>
                <th scope="col ">#</th>
                <th scope="col">Подписка</th>
                <th scope="col">Дата</th>
                <th scope="col">Сумма</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Pro</td>
                <td>10.09.23</td>
                <td>7499₽</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Pro</td>
                <td>02.09.23</td>
                <td>7499₽</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Pro</td>
                <td>29.09.23</td>
                <td>7499₽</td>
            </tr>
            </tbody>
        </table>
    </div>



    <script>console.clear();

    const cardsContainer = document.querySelector(".cards");
    const cardsContainerInner = document.querySelector(".cards__inner");
    const cards = Array.from(document.querySelectorAll(".card"));
    const overlay = document.querySelector(".overlay");

    const applyOverlayMask = (e) => {
        const overlayEl = e.currentTarget;
        const x = e.pageX - cardsContainer.offsetLeft;
        const y = e.pageY - cardsContainer.offsetTop;

        overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
    };

    const createOverlayCta = (overlayCard, ctaEl) => {
        const overlayCta = document.createElement("div");
        overlayCta.classList.add("cta");
        overlayCta.textContent = ctaEl.textContent;
        overlayCta.setAttribute("aria-hidden", true);
        overlayCard.append(overlayCta);
    };

    const observer = new ResizeObserver((entries) => {
        entries.forEach((entry) => {
            const cardIndex = cards.indexOf(entry.target);
            let width = entry.borderBoxSize[0].inlineSize;
            let height = entry.borderBoxSize[0].blockSize;

            if (cardIndex >= 0) {
                overlay.children[cardIndex].style.width = `${width}px`;
                overlay.children[cardIndex].style.height = `${height}px`;
            }
        });
    });

    const initOverlayCard = (cardEl) => {
        const overlayCard = document.createElement("div");
        overlayCard.classList.add("card");
        createOverlayCta(overlayCard, cardEl.lastElementChild);
        overlay.append(overlayCard);
        observer.observe(cardEl);
    };

    cards.forEach(initOverlayCard);
    document.body.addEventListener("pointermove", applyOverlayMask);
    </script>
{% endblock content %}