<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Avatarex | Админ панель{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!--
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'enter_secret_code_page' %}">Avatarex Admin</a>
 <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-success  my-2 my-sm-0 " href="{% url 'main' %}">На сайт</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscriptions' %}">Подписки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'translations' %}">Переводы</a>
            </li>
        </ul>

    </div>
</nav>-->
    <nav class="navbar navbar-expand-lg navbar-light header-container navbar-dark  text-white rounded p-2 row">
        <a class="navbar-brand ml-5" href="{% url 'enter_secret_code_page' %}">Avatarex Admin</a>
        <a  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
           aria-expanded="false" aria-label="Toggle navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
        <div class="navbar-collapse collapse ml-2 " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-success  my-2 my-sm-0 " href="{% url 'main' %}">На сайт</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
                </li>

            </ul>
        </div>
    </nav>



<div class="container">
    <br/>
    {% block content %}{% endblock %}
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<!-- Add Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
    $(document).ready(function () {
        // Get the current URL
        var currentUrl = window.location.pathname;

        // Remove the leading slash to match it with the URLs in the navigation
        currentUrl = currentUrl.substr(1);

        // Iterate through each navigation link
        $('.navbar-nav a').each(function () {
            // Get the href attribute of the link
            var href = $(this).attr('href').substr(1);

            // Check if the current URL contains the link's href
            if (currentUrl.indexOf(href) !== -1) {
                // Add the "active" class to the parent li element
                $(this).closest('li').addClass('active');
            }
        });
    });
</script>

</html>