
textarea {
    width: 100%;
}

input {
    width: 100%;
}

select {
    width: 100%;
}


.rounded-value {
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    background-color: rgb(25, 33, 42);
    color: white;
}

.widget-container {
    background: rgb(114, 119, 240);
    position: fixed;
    z-index: 99999;
    bottom: 3%;
    left: 25%;
    width: 50%;
    color: white;
    text-align: center;
    border-top-left-radius: 50px; /* Полукруглые края слева */
    border-top-right-radius: 50px; /* Полукруглые края справа */
}

/* Стили для содержимого виджета */


/* Стили для кнопки */
#save-button {
    background-color: midnightblue; /* Цвет кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#save-button:hover {
    background-color: #004a9a; /* Цвет кнопки при наведении */
}

.input-group-text {
    margin-right: 5px;
    color: white;
    /* fallback for old browsers */
    background: rgb(76, 79, 161);

    border-color: rgb(114, 119, 240);
}

.input-group-text :hover {
    text-decoration: none;
    color: white;
    cursor: default;
    background: rgb(90, 95, 241);

}

.header-container {
    border: 1px solid rgb(114, 119, 240);
    background-color: rgb(38, 47, 60);
    z-index: 99999;
    margin-top: 15px;
    color: white;
    border-top-left-radius: 50px; /* Полукруглые края слева */
    border-top-right-radius: 50px; /* Полукруглые края справа */
}

.blacked {
    color: white;
    background-color: rgb(26, 24, 22);
}

.header-item {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-item:hover {
    text-decoration: none;
    background: rgb(114, 119, 240);
    cursor: default;
}

.custom-file-upload {
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
}

.change-work-mode {
    border: 2px solid rgb(90, 95, 241);
    border-radius: 5px;
    margin-right: 5px;
    padding: 15px;
    background: rgb(90, 95, 241);
    color: white;
    text-align: center;
    display: inline-block;
}

.change-work-mode:hover {

    text-decoration: none;
    color: white;
    cursor: default;
    border: 2px solid rgb(114, 119, 240);
    background: rgb(114, 119, 240);
}

.pipeline-item {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(19, 20, 38), rgb(44, 20, 37));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(19, 20, 38), rgb(44, 20, 37));
    border-radius: 5px;
    margin: 5px;
    padding: 7px;
    background-color: rgb(38, 47, 60);
    color: white;
    margin-bottom: 10px; /* Выберите желаемое значение отступа */
}

.pipeline-item:hover {
    text-decoration: none;
    color: white;
    cursor: default;
    /* fallback for old browsers */

    background: rgb(90, 95, 241);
}

.selected-pipeline {
    background: rgb(90, 95, 241);
}

.selected-pipeline:hover {
    text-decoration: none;
    color: white;
    cursor: default;
    /* fallback for old browsers */

    background: rgb(111, 114, 241);
}

.stage {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    text-align: center;
    white-space: nowrap;
    margin-right: 5px;

    border: 1px solid rgb(76, 79, 161);
    border-radius: 5px;
    /* fallback for old browsers */
    background: rgb(76, 79, 161);
    color: white;
    margin-top: 10px; /* Устанавливаем вертикальный отступ по вашему выбору */

}

.stage:hover {
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(19, 20, 38), rgb(27, 16, 35), rgb(61, 30, 63), rgb(44, 20, 37));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(19, 20, 38), rgb(27, 16, 35), rgb(61, 30, 63), rgb(44, 20, 37));

    text-decoration: none;
    color: white;
    cursor: default;
}


.selected-stage {
    border: 1px solid rgb(80, 80, 80);
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(19, 20, 38), rgb(27, 16, 35), rgb(61, 30, 63), rgb(44, 20, 37));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(19, 20, 38), rgb(27, 16, 35), rgb(61, 30, 63), rgb(44, 20, 37));
}

.selected-stage:hover {

    background: rgb(76, 79, 161);
}

.input-group-button {
    background-color: rgb(114, 119, 240);
}

.input-group-select {
    background-color: white;
}


.description-block {
    border: 2px solid rgb(114, 119, 240);
    border-radius: 10px;
    padding: 7px;
}