{% extends "core/base_admin.html" %}
{% block content %}


<div  class="alert alert-primary rounded " role="alert">
    <h1 class="display-4 mb-0 pb-0  ">Вы попали в админ-панель Avatarex 👋! </h1><p class="mt-0 pt-0 ">Пожалуйста, укажите пароль для доступа в админ панель</p>
</div>

<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Введите пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
  </div>
  <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>




{% endblock content %}