                <div class="form-group">
                    <label for="exampleFormControlSelect1">Выберите подписку</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Standart</option>
                        <option>Professional</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Введите срок в днях</label>
                    <div class="form-group">
                        <input type="period" class="form-control" id="period" placeholder="30">
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="exampleFormControlSelect1">Причина выдачи</label>
                    <input type="reason" class="form-control" id="reason" placeholder="Подарок">
                </div>
                        <div style="display: flex; justify-content: center;" class=" mb-4 mt-0 text-muted form-group">
            <button onclick="subGive({{ user.id }}, {{ pipeline_id }})" type="submit" class="mt-0 btn btn-primary btn-lg">Выдать подписку</button>
        </div>
