{% extends "core/base_admin.html" %}

{% block content %}
    <div class="container mb-4">
        <table class="table table-striped table-dark ">
            <thead>
            <tr>
                <th style="max-width: 50px">Значение</th>
                <th style="max-width: 50px" >Перевод</th>
                <th style="max-width: 50px"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="max-width: 50px">Значение</td>
                <td style="max-width: 50px" contenteditable="true">Перевод</td>
                <td style="max-width: 50px ">
                    <div class="ml-1" style=" display: flex; justify-content: center;">
                        <button type="submit"
                                class="btn btn btn-success btn-sm ">Generate
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: center; ">
        <button type="submit" class="btn btn-primary mb-2">Подтвердить изменения</button>
    </div>



{% endblock content %}