{% extends "core/base_admin.html" %}
{% csrf_token %}
{% block content %}
    <div class="card text-center mb-4">
        <div class="card-header">
            Пользователь
        </div>
        <div class=" pr-2 pl-2  card-body">
            {% if user %}
                <h5 class="card-tittle">{{ user.id }} </h5>
                <p class="card-text">{{ user.email }}</p>

            {% endif %}
        </div>

    </div>

    <div class="mb-2">
        <h6> Обновить ссылку на базу знаний: </h6>
        <form method="post" class="w-100" action="/api/v1/update-mode-file-link/">
            <input name="user_id" value="{{ user.id }}" hidden>
            <input name="mode_name" value="knowledge" hidden>
            <div class="input-group-prepend">
                <div class="col-2">
                    <select name="pipeline" class="form-control">

                        {% for p in pipelines %}
                            <option value="{{ p.p_id }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input name="filename" class="form-control" value="{{ knowledge_link }}">
                <button type="submit" class="input-group-text">Обновить
                </button>
            </div>
        </form>
    </div>

{% endblock content %}