{% extends "core/base_admin.html" %}

{% block content %}

    <div class="pl-3 pr-3 pb-2"><h1 style="display: flex; justify-content: center; ">Пользователи</h1>
    </div>

    <!-- <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
</svg>
                </span>
       <input type="text" class="form-control" placeholder="Введите сведения о пользователе "
               aria-describedby="basic-addon1">
    </div>

    <legend class="border-bottom mb-1 mt-4 "></legend>-->

    <div class=" mt-4 " style="display: flex; justify-content: center;">
        <table style="background-color: #2b2b2b;" class="table table-dark table-hover">
            <thead class="bg-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Login</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for x in users %}
                <tr>
                    <th scope="row">{{ x.id }}</th>
                    <td>{{ x.email }}</td>
                    <td>{{ x.username }}</td>

                    <td>
                        <!-- Используем тег url для формирования URL с параметром user_id -->
                        <a href="{% url 'user_detail' user_id=x.id %}"
                           class="btn btn-outline-primary btn-sm">Перейти</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        <!--window.open('/admin/user', '_blank'); -->
        function redirectToUserPage(userId) {
            // Формируем URL с параметром userId
            const url = `/user/${userId}`;
            // Открываем новое окно браузера с сформированным URL
            window.open(url, '_blank');
        }

    </script>

{% endblock content %}

