{% load static %}
<style>
    #chat-container {
        position: relative;
        width: 800px;
    }

    .header-text {

        font-size: 18px;
        font-weight: 600;

    }

    #chat-circle {
        width: 50px;
        height: 50px;
        background-color: rgb(114, 119, 240);
        border-radius: 50%;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
        color: white;
    }

    #chat-messages::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
    }

    #chat-messages::-webkit-scrollbar-thumb {
        background-color: rgb(114, 119, 240);
        border-radius: 15px;
    }

    #chat-messages::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
    }

    #chat-box {
        width: 350px;
        display: none;
        position: fixed;
        bottom: 80px;
        right: 20px;
        height: 500px;
        background: url("{% static 'icons/pattern-30.svg' %}") no-repeat center center;
        background-color: #4b4b4b;
        background-size: cover;
        border-radius: 15px;
        overflow: hidden;
        z-index: 2;
        flex-direction: column;
    }

    #chat-header {
        background-color: rgb(114, 119, 240);
        color: white;
        height: 10%;
        padding: 10px;
        cursor: pointer;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    #chat-messages {
        flex: 1;
        justify-content: flex-end;
        padding: 10px;
        overflow-y: auto;
        margin-top: auto; /* Push messages to the bottom */
        z-index: 1;
        scroll-behavior: smooth; /* Add smooth scrolling */
    }

    #input-container {
        width: calc(100% - 30px);
        display: flex;
        position: relative;

        border-radius: 15px;

        margin: auto auto 10px auto;
        z-index: 2;
    }

    #chat-input {
        width: calc(100% - 40px);
        padding: 10px;
        border: none;
        outline: none;
        padding-bottom: 7px;
        position: sticky;
        bottom: 0;
        z-index: 2;
    }

    #send-button {
        width: 40px;
        height: 40px;
        background-color: rgb(114, 119, 240);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 15px 15px;
    }

    #send-button svg {
        transform: rotate(180deg);
    }
</style>
<div id="chat-container">
    <div id="chat-circle" onclick="toggleChat()">
        &#9998;
    </div>
    <div id="chat-box">
        <div id="chat-header" style="text-align: center" onclick="toggleChat()">
            <p class="header-text m-0">Поддержка</p>
        </div>
        <div id="chat-messages">
            <!-- Chat messages go here -->
        </div>
        <div id="input-container">
            <input style="border-radius: 15px; margin-right: 10px" type="text" id="chat-input"
                   placeholder="Напишите нам...">
            <button id="send-button" onclick="sendMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
        </div>
    </div>

</div>
<!-- Add this script section at the end of your existing script -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var chatInput = document.getElementById('chat-input');

        // Add an event listener for the 'keydown' event on the input element
        chatInput.addEventListener('keydown', function (event) {
            // Check if the pressed key is 'Enter' (key code 13)
            if (event.keyCode === 13) {
                // Prevent the default behavior of the Enter key (e.g., new line)
                event.preventDefault();
                // Call the sendMessage function
                sendMessage();
            }
        });
    });
</script>

<script>
    function toggleChat() {
        var chatBox = document.getElementById('chat-box');
        chatBox.style.display = (chatBox.style.display === 'none' || chatBox.style.display === '') ? 'flex' : 'none';


    }

</script>
<script>
    var chatHistory = [];

    function sendMessage() {
        var messageInput = document.getElementById('chat-input');
        var messageText = messageInput.value;
        if (messageText.trim() !== '') {
            var chatMessages = document.getElementById('chat-messages');
            var newMessage = document.createElement('div');
            newMessage.innerText = messageText;
            chatMessages.appendChild(newMessage);
            newMessage.style.zIndex = '1';
            newMessage.style.color = '#202020';
            newMessage.style.backgroundColor = 'rgb(155 250 222)';
            newMessage.style.borderRadius = '15px';
            newMessage.style.paddingLeft = '15px';
            newMessage.style.paddingRight = '25px';
            newMessage.style.paddingBottom = '5px';
            newMessage.style.paddingTop = '5px';
            newMessage.style.marginLeft = 'auto';
            newMessage.style.textAlign = 'left'

            newMessage.style.marginBottom = '5px';
            newMessage.style.minWidth = '20px'
            newMessage.style.wordWrap = 'break-word';
            newMessage.setAttribute('role', 'user'); // Добавляем атрибут role с значением 'user'

            if (messageText.length > 20) {
                newMessage.style.maxWidth = '300px';
            } else {
                newMessage.style.maxWidth = '150px';
            }

            chatHistory.push({role: 'user', content: messageText});
            // Отправка сообщения на сервер
            var requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',

                },
                body: JSON.stringify({messages: [{role: 'user', content: messageText}]}),
            };

            fetch('http://95.140.146.86:8083/', requestOptions)
                .then(response => response.json())
                .then(data => {
                    // Создание элемента для ответа
                    var responseMessage = document.createElement('div');
                    responseMessage.innerText = data.answer;
                    responseMessage.style.zIndex = '1';
                    responseMessage.style.color = '#202020';
                    responseMessage.style.backgroundColor = 'rgb(77,178,241)';
                    responseMessage.style.borderRadius = '15px';
                    responseMessage.style.paddingLeft = '25px';
                    responseMessage.style.paddingRight = '15px';
                    responseMessage.style.paddingBottom = '5px';
                    responseMessage.style.paddingTop = '5px';
                    responseMessage.style.marginRight = 'Auto';
                    responseMessage.style.marginBottom = '5px';
                    responseMessage.style.textAlign = 'left'
                    responseMessage.style.minWidth = '20px'
                    responseMessage.style.wordWrap = 'break-word';
                    responseMessage.setAttribute('role', 'assistant');


                    if (data.answer.length > 20) {
                        responseMessage.style.maxWidth = '300px';
                    } else {
                        responseMessage.style.maxWidth = '150px';
                    }

                    // Добавление элемента ответа в блок сообщений чата
                    chatMessages.appendChild(responseMessage);

                    chatHistory.push({role: 'assistant', content: data.answer});

                    // Прокрутка вниз для отображения нового сообщения
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                })
                .catch(error => console.error('Error:', error));

            // Очистка поля ввода
            messageInput.value = '';
            console.log('Chat History:', chatHistory);
        }
    }
</script>
<script>document.addEventListener('DOMContentLoaded', function () {
    // Call the loadChatHistory function when the page has finished loading

});</script>

<script>
    function loadChatHistory(chatHistory) {

        var chatMessages = document.getElementById('chat-messages');

        // Перебор сообщений и добавление их в чат
        chatHistory.forEach(message => {
            var messageElement = document.createElement('div');
            messageElement.innerText = message.content;
            messageElement.style.zIndex = '1';
            messageElement.style.color = '#202020';
            messageElement.style.borderRadius = '15px';
            messageElement.style.borderRadius = '15px';
            messageElement.style.paddingLeft = '10px';
            messageElement.style.paddingRight = '25px';
            messageElement.style.paddingBottom = '5px';
            messageElement.style.paddingTop = '5px';
            messageElement.style.paddingLeft = '15px';

            // Установка отступа в зависимости от роли
            if (message.role === 'user') {
                messageElement.style.backgroundColor = 'rgb(155 250 222)';
                messageElement.style.marginLeft = '150px';
            } else if (message.role === 'assistant') {
                messageElement.style.backgroundColor = 'rgb(77,178,241)';
                messageElement.style.marginRight = '150px';

            }

            messageElement.style.wordWrap = 'break-word';

            chatMessages.appendChild(messageElement);
        });

        // Прокрутка вниз для отображения истории чата
        chatMessages.scrollTop = chatMessages.scrollHeight;

    }
</script>