<style>
    .input-group-text ::placeholder {
        color: white;
    }

    .input-group-text::-webkit-input-placeholder {
        color: #ffffff;
    }

</style>
<div class="mb-5">
    <h5 class="mt-5">Если вы хотите проводить квалификацию клиента, пожалуйста, добавьте поля:</h5>
    <legend class="border-bottom mb-4"></legend>
    <div id="loaded-elements">
        {% for item in qualification_rules %}
            <div class="rule"
                 style="border: 3px solid rgb(114, 119, 240); border-radius: 10px; padding: 5px 10px 10px 5px; margin-bottom: 15px;">
                <div class=" input-group-prepend d-flex justify-content-between">
                    <div class="col-3 p-0 pr-1 mr-0 ">
                        <input name="field-name" class="input-group-text" value="{{ item.field_name }}">
                    </div>
                    <div class="pl-0 ml-0 pr-2 col-8">
                        <input class="form-control q" name="field-value" value="{{ item.question }}">
                    </div>
                    <button type="button" class="ml-0 mr-3 h-50 btn btn-outline-danger"
                            onclick="deleteLoadedQualificationField(this.parentNode.parentNode);">Удалить
                    </button>
                </div>
                <div class=" input-group-prepend text-center">
                    <div class="mt-0 col-12">
                        <div class="btn text-light" style="display: inline-block; width: auto;"
                             onclick="toggleVisibility(this.parentElement.parentElement.nextElementSibling)">
                            <hr class="line"
                                style="border-top: 1px solid #ffffff; width: 100px; display: inline-block; margin: 0;padding-bottom: 5px">
                            ещё
                            <hr class="line"
                                style="border-top: 1px solid #ffffff; width: 100px; display: inline-block; margin: 0;padding-bottom: 5px">
                        </div>
                    </div>
                </div>
                <div class="input-group-prepend mb-2" id="hiddenDiv" style="display: none;">
                    <button class="input-group-text mb-2 ml-1" type="button" id="plus_field"
                            onclick="addResponseField({{ item.order }});">Добавить поле
                    </button>
                    <div id="loaded-inter-elements">
                        {% for additional_question in item.additional_questions %}
                            <script>
                                var counter1 =
                                {{ item.order }}
                            </script>
                            <div class="pl-1 pr-0 mb-2 col-12" style="display: flex; align-items: center;">
                                <input style="flex: 1; width: 100%; display: inline-block;" placeholder="Ваше сообщение"
                                       class="form-control q col-8" name="response_name_{{ additional_question.order }}"
                                       value="{{ additional_question.question }}">
                                <select name="number_select_{{ additional_question.order }}"
                                        class="form-control col-3 ml-2 mr-2" id="number">
                                    <option value="0" style="text-align: center; font-size: large;"></option>
                                    <option value="1" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 1 %}selected{% endif %}>1
                                    </option>
                                    <option value="2" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 2 %}selected{% endif %}>2
                                    </option>
                                    <option value="3" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 3 %}selected{% endif %}>3
                                    </option>
                                    <option value="4" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 4 %}selected{% endif %}>4
                                    </option>
                                    <option value="5" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 5 %}selected{% endif %}>5
                                    </option>
                                    <option value="6" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 6 %}selected{% endif %}>6
                                    </option>
                                    <option value="7" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 7 %}selected{% endif %}>7
                                    </option>
                                    <option value="8" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 8 %}selected{% endif %}>8
                                    </option>
                                    <option value="9" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 9 %}selected{% endif %}>9
                                    </option>
                                    <option value="10" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 10 %}selected{% endif %}>10
                                    </option>
                                    <option value="15" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 15 %}selected{% endif %}>15
                                    </option>
                                    <option value="25" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 25 %}selected{% endif %}>25
                                    </option>
                                    <option value="30" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_number == 30 %}selected{% endif %}>30
                                    </option>
                                    <!-- Добавьте остальные опции здесь -->
                                </select>
                                <select name="time_select_{{ additional_question.order }}"
                                        class="form-control col-3 mr-2" id="time">
                                    <option value="" style="text-align: center; font-size: large;"></option>
                                    <option value="minutes" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_type == 'minutes' %}selected{% endif %}>минут
                                    </option>
                                    <option value="hours" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_type == 'hours' %}selected{% endif %}>часов
                                    </option>
                                    <option value="days" style="text-align: center; font-size: large;"
                                            {% if additional_question.time_type == 'days' %}selected{% endif %}>дней
                                    </option>
                                    <!-- Добавьте остальные опции здесь -->
                                </select>
                                <button type="button" class="ml-1 ml-0 h-50 btn btn-outline-danger"
                                        onclick="deleteParentDiv(this);">Удалить
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="added_inter_elements_{{ item.order }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="added-elements"></div>

    <button class="input-group-text mt-2" type="button" id="plus_field" onclick="addQualificationField();">Добавить
        поле
    </button>

    <h6 class="mt-5">Сообщение после прохождения квалификации:</h6>
    <textarea style="min-height: 100px; background-color: rgb(26, 24, 22); color: white;" name="qualificationFinished"
              class="mt-2"
              id="qualificationFinished">{{ qualification_rules.qualification_finished }}</textarea>

</div>


<script>


    function addQualificationField() {
        var container = document.getElementById("added-elements");
        counter1++;
        var newInputField = document.createElement("div");
        newInputField.className = "rule ";
        newInputField.innerHTML = `
        <div style="border: 3px solid rgb(114, 119, 240); border-radius: 10px; padding: 5px 10px 10px 5px; margin-bottom: 15px;">
                <div class="input-group-prepend d-flex justify-content-betweens">
                    <div class="col-3 p-0 pr-1 mr-0 ">
                        <input name="field-name" class="input-group-text" value="{{ k }}">
                    </div>
                    <div class=" pl-0 ml-0 pr-2 col-8">
                        <input class="form-control q" name="field-value" value="{{ v }}">
                    </div>
                    <button type="button" class="ml-0 mr-3h-50 btn btn-outline-danger"
                            onclick="deleteParentDiv(this.parentNode)">Удалить
                    </button>
                </div>
                <div class="input-group-prepend text-center ">
                    <div class="mt-0 col-12">
                        <div class="btn text-light" style="display: inline-block; width: auto;"
                             onclick="toggleVisibility(this.parentElement.parentElement.nextElementSibling)">
                            <hr class="line"
                                style=" border-top: 1px solid #ffffff; width: 100px; display: inline-block; margin: 0;padding-bottom: 5px">
                            ещё
                            <hr class="line"
                                style=" border-top: 1px solid #ffffff; width: 100px; display: inline-block; margin: 0;padding-bottom: 5px">
                        </div>
                    </div>

                </div>
                <div class="input-group-prepend mb-2" id="hiddenDiv" style="display: none;">
                    <button class="input-group-text mb-2 ml-1"  type="button" id="plus_field"
                            onclick="addResponseField(${counter1});">Добавить поле
                    </button>

                    <div id="added_inter_elements_${counter1}"></div>
                </div>
            </div>

            `;
        container.appendChild(newInputField);
    }
</script>

<script>

    function addResponseField(parentCounter) {
        // Инициализация счетчика для каждого родительского элемента
        if (!window.counterMap) {
            window.counterMap = {};
        }
        if (!window.counterMap[parentCounter]) {
            window.counterMap[parentCounter] = 0;
        }

        var counter = window.counterMap[parentCounter];

        var container = document.getElementById(`added_inter_elements_${parentCounter}`);
        var newInputField = document.createElement("div");
        newInputField.className = "pl-1 pr-0 mb-2 col-12";
        newInputField.style = "display: flex; align-items: center;";
        newInputField.innerHTML = `
                            <input style="flex: 1; width: 100%;display: inline-block;" placeholder="Ваше сообщение"
                                   class="form-control q col-8"  name="response_name_${counter}" value="{{ y }}">
                            <select name="number_select_${counter}"
                                    style="background-color: rgb(38, 47, 60); color: white; border: solid rgb(38, 47, 60); font-size: large; display: inline-block;box-sizing: border-box; width: 40%;"
                                    class="form-control col-3 ml-2 mr-2" id="exampleFormControlSelect1">
                                <option value=""  style="text-align: center; font-size: large;"></option>
                                <option value="1"  style="text-align: center; font-size: large;">1
                                </option>
                                <option value="2" style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '2' %}selected{% endif %}>2
                                </option>
                                <option value="3"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '3' %}selected{% endif %}>3
                                </option>
                                <option value="4"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '4' %}selected{% endif %}>4
                                </option>
                                <option value="5"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '5' %}selected{% endif %}>5
                                </option>
                                <option value="6"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '6' %}selected{% endif %}>6
                                </option>
                                <option value="7"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '7' %}selected{% endif %}>7
                                </option>
                                <option value="8"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '8' %}selected{% endif %}>8
                                </option>
                                <option value="9"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '9' %}selected{% endif %}>9
                                </option>
                                <option value="10"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '10' %}selected{% endif %}>10
                                </option>
                                <option value="15"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '15' %}selected{% endif %}>15
                                </option>
                                <option value="25"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '25' %}selected{% endif %}>25
                                </option>
                                <option value="30"  style="text-align: center; font-size: large;"
                                        {% if search_rule.v == '30' %}selected{% endif %}>30
                                </option>
                            </select>
                            <select name="time_select_${counter}"
                                    style="background-color: rgb(38, 47, 60); color: white; border: solid rgb(38, 47, 60); font-size: large; display: inline-block;box-sizing: border-box; width: 40%;"
                                    class="form-control col-3 mr-2" id="time">
                                <option name="hours-select" style="text-align: center; font-size: large;"></option>
                                <option value="minutes" style="text-align: center; font-size: large;"
                                        {% if search_rule.v == 'minutes' %}selected{% endif %}>минут
                                </option>
                                <option value="hours" style="text-align: center; font-size: large;"
                                        {% if search_rule.v == 'hours' %}selected{% endif %}>часов
                                </option>
                                <option value="days" style="text-align: center; font-size: large;"
                                        {% if search_rule.v == 'days' %}selected{% endif %}>дней
                                </option>
                            </select>
                            <button type="button" class="ml-1 ml-0 h-50 btn btn-outline-danger"
                                    onclick="deleteParentDiv(this);">Удалить
                            </button>
            `;
        container.appendChild(newInputField);
        window.counterMap[parentCounter]++;
    }
</script>

<script>
    function deleteQualificationField(element) {
        var container = document.getElementById("added-elements");
        container.removeChild(element);
    }
</script>


<script>
    function deleteLoadedQualificationField(element) {
        var container = document.getElementById("loaded-elements");
        container.removeChild(element);
    }
</script>

<script>
    function toggleVisibility(element) {
        if (element.style.display === 'none' || element.style.display === '') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }

</script>

<script>
    function deleteParentDiv(element) {
        var parentDiv = element.parentNode
        parentDiv.parentNode.removeChild(parentDiv);
    }
</script>
