<div style="display: flex; justify-content: center; " class="pl-3 pr-3 mt-3 mb-3 ">
    <iframe width="560" height="315" src="{{ youtube_video }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>

{% for upload_file_input in upload_file_inputs %}
<form method="post" action={{ upload_file_input.action }}>
    {% csrf_token %}
    <div class="input-group-prepend">
        <span class="input-group-text">{{ upload_file_input.text }}</span>
        <input name="filename" value="{{ upload_file_input.file_link }}">
        <button type="submit" class="input-group-text">Обновить</button>
    </div>
</form>
{% endfor %}
