{% extends "core/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <a href="{% url 'home' %}" class="m-3">Вернуться на главную</a>

    <h4 class="m-3">Ваши настройки режима работы с базой данных:</h4>

    <legend class="border-bottom mb-4"></legend>
{% include "home/components/youtube-video.html" %}
    {% csrf_token %}
    <div class="container">
        {% include "home/components/upload-file.html" %}

        {% if filename != '' %}

            {% include "home/components/database-settings.html" %}

            <h4 class="mt-4 mb-4">Условия отображения ответа:</h4>
            {% include "home/components/bounded-situations.html" %}

            </div>
        {% endif %}
    <div class="widget-container text-white rounded p-2">
        <p class="d-inline-block m-0">После внесения изменений нажмите на кнопку.</p>
        <button id="save-button" class="btn btn-light ml-2" onclick="saveData();">Сохранить</button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <script>
        function saveData() {
            elements = document.querySelectorAll(".rule");
            var dataObject = {};
            dataObject["currentUrl"] = window.location.href;
            dataObject["hi_message"] = document.getElementById("hi-message").value;
            dataObject["db_error_message"] = document.getElementById("db-error-message").value;
            dataObject["openai_error_message"] = document.getElementById("openai-error-message").value;
            dataObject["success_message"] = document.getElementById("success-message").value;
            dataObject["view_rule"] = document.getElementById("view-rule").value;
            dataObject["results_count"] = document.getElementById("results-count").value;
            elements.forEach(function (element) {
                var name = element.getAttribute("name");
                var value = element.value;
                dataObject[name] = value;
            });
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataObject),
            };
            fetch(`/api/v1/home/update-db-rules/`, requestOptions).then(response => {
                    window.location.href = '/home/';
                }
            )
        }
    </script>

{% endblock content %}
