{% extends "core/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <style>
    .alert-info {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        background-color: #212121;
        color: #ddd;
    }
    .nohov:hover{
        border: 2px solid rgb(114, 119, 240);

    }
    </style>


    <a href="{% url 'home' %}" class="m-3">Вернуться на главную</a>


    <h4 class="m-3">Ваши настройки режима работы по контексту:</h4>

    <legend class="border-bottom mb-4"></legend>
    {% include "home/components/youtube-video.html" %}

    <form method="post">
        {% csrf_token %}
        <div class="container">
            {% include "home/components/qualification.html" %}

            <h5 class="m-3">Введите контекст:</h5>

            <legend class="border-bottom mb-4"></legend>
            {{ form.context }}
            <div class="row mt-3">
                <div class="col-6">
                    <div class="description-block">
                        <div class="input-group-prepend">
                            <span class="input-group-text  nohov pt-2 pb-0">{{ form.max_tokens.label_tag }}</span>
                            {{ form.max_tokens }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="description-block">
                        <div class="input-group-prepend">
                            <span class="input-group-text nohov pt-2 pb-0">{{ form.temperature.label_tag }}</span>
                            {{ form.temperature }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <div class="description-block">
                        <div class="input-group-prepend">
                            <span class="input-group-text  nohov pt-2 pb-0">{{ form.model.label_tag }}</span>
                            {{ form.model }}
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="description-block">
                        <div class="input-group-prepend">
                            <span class="input-group-text nohov pt-2 pb-0">{{ form.fine_tunel_model_id.label_tag }}</span>
                            {{ form.fine_tunel_model_id }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-container text-white rounded p-2" style="z-index: 1">
            <p class="d-inline-block m-0">После внесения изменений нажмите на кнопку.</p>
            <button id="save-button" class="btn btn-light ml-2">Сохранить</button>
        </div>
    </form>
    <div class="alert alert-info mt-4" role="alert">
        Информация о расчете токенов:

        Токены делятся на 2 типа: для запроса и для ответа. Один токен приблизительно равен 1.25 кириллическим символам.
        Для примера рассмотрим модель GPT-3.5-turbo, которая включает в себя 4096 токенов.

        Затраты токенов на запрос формируются следующим образом: токены на контекст + токены на историю сообщений.

        Максимальные затраты токенов на ответ устанавливаются параметром на avatarex.net. Если вы хотите получить
        примерно до 1000 кириллических символов в ответе, установите параметр max_tokens = 800.

        Чем больше токенов вмещает модель, тем больше сообщений из взаимодействия с пользователем будет доступно OpenAI
        для анализа, и тем более точным будет ответ
    </div>

{% endblock content %}
